<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnu.dao.PartyMemberMapper" >
	<!-- 添加客户,namespace名称和Mapper全路径名相同-->
	<!--  插入id和Mapper中的方法名相同--> 
	<insert id="savePartyMember" parameterType="com.jnu.domain.PartyMember">
			INSERT INTO partymembersystem.User_copy(
				user_name,
				user_password,
				user_phone,
				user_idcard,
				activist_date,
				candidate_date,
				is_prepared_member,
				lecture_score
			)
			VALUES(
				#{user_name},
				#{user_password},
				#{user_phone},
				#{user_idcard},
				#{activist_date},
				#{candidate_date},
				#{is_prepared_member},
				#{lecture_score}
				)
	</insert>
	
	<select id="findElementById" parameterType="String" resultType="com.jnu.domain.PartyMember">
		select * from User_copy where user_id= #{user_id}
	</select> 
	
	<select id="findAl"  resultType="com.jnu.domain.PartyMember">
		select * from User_copy 
	</select> 
	
	<!-- 用于用户登录，用用户id和密码登录 -->
	<select id="findPasswordByUserId"  parameterType="String" resultType="String">
		select user_password from User_copy where user_id= #{userid}
	</select>
	
	<!-- 用于修改密码 -->
	<update id="modifyPassword" parameterType="String" >
		update User_copy 
			set
				user_password = #{new111_password}
			where 
				user_id=#{user_id}
	</update>
	
	<!-- 用于修改电话号码 -->
	<update id="modifyPhoneNumber" parameterType="String" >
		update User_copy 
			set
				user_phone = #{new_user_phone}
			where 
				user_id=#{user_id}
	</update>
</mapper>
